/*noinspection CssUnknownTarget*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.content {
    grid-area: 2 / 2 / 5 / 5;
    background-color: #FAFAFA;
    transition: margin-left .5s;
    padding: 16px 16px 16px 100px;
    height: fit-content;
    margin-bottom: 100px;
    overflow: visible;
}


/*-----------------Header-------------------*/
.task-cont-header {
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-column-gap: 10px;
    border-bottom: 1px solid #5858581e;
    max-width: 1200px;
}

.task-cont-header h2 {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.555);
}

.task-cont-header img {
    align-self: center;
    justify-self: end;
    width: 25px;
    height: 25px;
}


/*------------------Task container-------------------*/
.tasks-container {
    width: 100%;
    margin-bottom: 12%;
    height: fit-content;
}

/*task element*/
.task {
    max-width: 50%;
    min-width: 450px;
    display: grid;
    grid-template-columns: 40px repeat(2, 30px) 90px repeat(2, 30px) auto auto;
    grid-template-rows: 1fr 0 20px;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    padding: 16px;
    opacity: 1;
    margin: 20px;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    -webkit-box-shadow: 3px 3px 12px 0 rgba(50, 50, 50, 0.45);
    -moz-box-shadow: 3px 3px 12px 0 rgba(50, 50, 50, 0.45);
    box-shadow: 3px 3px 12px 0 rgba(50, 50, 50, 0.45);
    align-items: center;
}

/*task elements different grid items*/
/*checkmark*/
.div1 {
    grid-area: 1 / 1 / 2 / 2;
    justify-self: end;
    align-self: flex-start
}

/*color-code*/
.div2 {
    grid-area: 1 / 2 / 2 / 3;
    justify-self: center;
}

/*Task name/header*/
.div3 {
    grid-area: 1 / 3 / 2 / 9;
    font-size: 13px;
    padding: 5px;
    border-bottom: 1px solid #5858581e;
}

/*Tasks project name*/
.div4 {
    grid-area: 3 / 1 / 4 / 3;
    font-size: 10px;
    text-align: center;
}
/*calender icon*/
.div5 {
    grid-area: 3 / 3 / 4 / 4;
    justify-self: center;
}

/*due date*/
.div6 {
    grid-area: 3 / 4 / 4 / 5;
}

/*date icon*/
.div7 {
    grid-area: 3 / 5 / 4 / 6;
    justify-self: center;
}

/*Due time*/
.div8 {
    grid-area: 3 / 6 / 4 / 7;
}

/*Arrow button*/
.div9 {
    grid-area: 3 / 8 / 4 / 9;
    justify-self: end;
    width: 20px;
    height: 20px;
    font-size: 15px;
}

/*edit button container*/
.div10 {
    grid-area: 3 / 7 / 4 / 8;
    justify-self: end;
}

/*Task notes header*/
.div11 {
    grid-area: 2 / 1 / 3 / 3;
    justify-self: center;
    align-self: flex-start;
}

/*Notes*/
.div12 {
    grid-area: 2 / 3 / 3 / 9;
    font-size: 13px;
}

/*Task edit button*/
.task button {
    width: 50px;
    height: 25px;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.2s;
    border: none;
    cursor: pointer;
    background-color: #dddddd;
    color: white;
    -webkit-box-shadow: 3px 3px 12px 0 rgba(50, 50, 50, 0.45);
    -moz-box-shadow: 3px 3px 12px 0 rgba(50, 50, 50, 0.45);
    box-shadow: 3px 3px 12px 0 rgba(189, 189, 189, 0.45);
}

.task button:hover {
    background-color: #E63946;
    color: white;
}

.task-arrow-button {
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.rotate-arrow {
    transform: rotate(-180deg);
    transition: all 0.4s ease-in-out;
}

/*When tasks due date has passed, add task element red border*/
.past-due-date {
    border: 1px rgba(255, 0, 0, 0.431) solid;
}

/*When user clicks arrow button, task element get bigger*/
.task-element-bigger {
    grid-template-rows: 1fr 2fr 1fr;
}

.hide-elements {
    opacity: 0;
}

.show-elements {
    opacity: 1;
}

.material-icons.calender-icon {
    color: rgba(0, 0, 0, 0.26);
    cursor: default;
    opacity: 1;
    transition: all 0.2s ease-in-out;
}

