.task-form {
    display: none;
    margin-left: 50px;
}

.select-priority-cont {
    margin: 20px;
}

.priority-cont {
    display: grid;
    grid-template-columns: 20px 20px 100px;
    grid-column-gap: 5px;
    margin: 5px 0;

}
.add-edited-task {
    display: none;
}


