
@import "nav.css";
@import "header.css";
@import "form.css";
@import "content.css";
@import "checkmark.css";
@import "navIcon.css";
@import "toggleBtn.css";
@import "darkMode.css";
@import "media.css";



/* include border and padding in element width and height */
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

/* use viewport-relative units to cover page fully */
body {
    height: 100vh;
    width: 100vw;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #FAFAFA;
}

.content-container {
    display: grid;
    grid-template-columns: 300px repeat(3, 1fr);
    grid-template-rows: 80px repeat(3, 2fr) 5%;
    height: 100vh;
    width: 100vw;
}

.color-code {
    justify-self: end;
    align-self: center;
    width: 10px;
    height: 10px;
    border-radius: 20px;
}

.priority1 {
    background-color: #e63946;
}

.priority2 {
    background-color: #a2d2ff;
}

.priority3 {
    background-color: #d8bbff;
}

.priority4 {
    background-color: #06d6a0;
}

.priority5 {
    background-color: #ffd166;
}

.main,
.content {
    transition: margin-left .5s;
    
}

.filter-on {
    transform: scale(0.99);
    filter: blur(3px);
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
}

.close-form-btn,
.close-project-form {
    cursor: pointer;
}

.close-form-btn:hover,
.close-project-form:hover {
    color: rgb(177, 177, 177);
}

.empty-greeting {
    margin: 100px auto;
    font-family: 'Montserrat', sans-serif;
    padding: 2.0618556701030926vw;
    width: 41.19464469618949vw;
    text-align: center;
    color: #5858585e;
    box-shadow: 3px 3px 12px 0 rgba(189, 189, 189, 0.45);
}

.empty-greeting {
    -moz-box-shadow: 3px 3px 12px 0 rgba(50, 50, 50, 0.45);
}

.empty-greeting {
    -webkit-box-shadow: 3px 3px 12px 0 rgba(50, 50, 50, 0.45);
}

.task-completed-message {
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-column-gap: 5px ;
    position: fixed;
    left: 50%;
    bottom: 0;
    padding: 1px;
    width: 18.537590113285273vw;
    background-color: #f3f3f3;
    -webkit-box-shadow: 3px 3px 12px 0 rgba(50, 50, 50, 0.45);
    -moz-box-shadow: 3px 3px 12px 0 rgba(50, 50, 50, 0.45);
    box-shadow: 3px 3px 12px 0 rgba(50, 50, 50, 0.45);
    transition: all 0.8s ease-in-out;
    opacity: 0;
}

.material-icons.calender-icon.hide-elements {
    opacity: 0;
}

.material-icons.task-complete {
    color: #06d6a0;
    justify-self: end;
    align-self: center;
}

.material-icons.settings-icon {
    color: rgba(0, 0, 0, 0.26);
    align-self: center;
    cursor: pointer;
    font-size: 18px;
}

.material-icons.settings-icon:hover {
    color: rgba(0, 0, 0, 0.54);
}


.material-icons.header-icon {
    color: rgba(0, 0, 0, 0.842);
    font-size: 30px;
    align-self: center;
    justify-self: end;
}


