@import "nav.css";
@import "header.css";
@import "form.css";
@import "content.css";


/* include border and padding in element width and height */
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

/* use viewport-relative units to cover page fully */
body {
    height: 100vh;
    width: 100vw;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #FAFAFA;
}



.content-container {
    display: grid;
    grid-template-columns: 300px repeat(3, 1fr);
    grid-template-rows: 80px repeat(3, 2fr) 5%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100%;
    width: 100%;
}





.content {
    grid-area: 2 / 2 / 5 / 5;
    background-color: #FAFAFA ;
    transition: margin-left .5s;
    padding: 16px;
}

.footer {
    grid-area: 5 / 2 / 6 / 5;
    background-color: #FAFAFA ;
}

.main, .content {
    transition: margin-left .5s;
}

